// .footer-area {
//     background-color: $main-color;
//     margin: 0 120px 50px 120px;
//     color: $white-color;
//     @media screen and (max-width: 767px) {
//         margin: 0 auto;
//     }
//     h1 {
//         font-size: 22px;
//     }
//     h3 {
//         font-size: 20px;
//     }
//     .footer-call {
//         .btn-calls {
//             width: 35%;
//             a {
//                 background-color: $white-color;
//                 border-radius: 50px;
//                 display: flex;
//                 flex-direction: row;
//                 .btn-call {
//                     color: $main-color;
//                     font-weight: 900;
//                     padding-left: 15px;
//                     font-size: 20px;
//                     a {
//                         color: #F47B20;
//                         text-decoration: none;
//                         font-weight: 900;
//                         font-size: 20px;
//                     }
//                 }
//             }
//         }
//     }
//     .footer-cate {
//         display: flex;
//         flex-direction: column;
//         a {
//             font-size: 14px;
//         }
//     }
//     .footer-event {
//         display: flex;
//         flex-direction: column;
//         a {
//             font-size: 14px;
//         }
//     }
//     .footer-new-letter {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         a {
//             background-color: $main2-color;
//             align-items: center;
//             border-radius: 25px;
//             padding: 5px 30px;
//             color: $black-color !important;
//             font-weight: 700;
//         }
//     }
// }
// .contact__btn {
//     .footer__image {
//         transform-origin: center center;
//         transition: transform 0.5s ease;
//     }
//     &:hover {
//         .footer__image {
//             transform: scale(0.9);
//         }
//     }
// }
.footer__comp {
    a {
        color: white;
        text-decoration: none;
    }
    .contact__btn {
        .image {
            transform-origin: center center;
            transition: transform 0.5s ease;
        }
        &:hover {
            .image {
                transform: scale(0.9);
            }
        }
    }
}
