.history-area {
    background-image: url('/images/history/bg-history.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $main2-color;
    position: relative;
    z-index: 1;
    .history-head {
        h1 {
            background-image: url('/images/history/Rectangle.png');
            background-repeat: no-repeat;
            background-size: contain;
            font-weight: 900;
            font-size: 160px;
        }
        .text-head {
            margin-left: -29px;
            .text-year {
                color: #272727;
                font-size: 24px;
                font-weight: 900;
            }
            .content1 {
                font-size: 16px;
                font-weight: 600;
            }
            .content2 {
                font-size: 13px;
            }
            .content3 {
                color: #272727;
                font-weight: 700;
                font-size: 24px;
            }
            .content4 {
                font-weight: 700;
                font-size: 24px;
            }
        }
    }

    .history-content {
        p {
            span {
                color: #272727;
                font-weight: 900;
                font-size: 24px;
            }
            font-weight: 700;
            font-size: 20px;
        }
        span {
            color: #272727;
            font-weight: 900;
            font-size: 24px;
        }
    }
}