.product-area {
    background-color: $main-color;
    h1 {
        color: $h1-color;
        border-left: 4px solid $h1-color;
        font-size: 24px;
        font-weight: 700;
    }
    .product-items {
        .items-bg {
            position: absolute;
            top: -25%;
            left: 2%;
        }
        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    h4 {
                        padding-top: 30px;
                        padding-bottom: 20px;
                        color: $h1-color;
                    }
                }
            }
        }
        .btn-see-more {
            position: absolute;
            left: 45%;
            top: 87%;
            z-index: 1;
            a {
                text-decoration: none;
                border-radius: 50%;
                background-color: $main-color;
                border: 1px solid $h1-color;
                width: 180px;
                height: 180px;
                padding: 30px;
                font-weight: 700;
                font-size: 20px;
                transition: all 1s ease;
                &:hover {
                    border: 1px solid $white-color;
                    background-color: $h1-color;
                    color: $white-color;
                }
            }
            @media screen and (max-width: 767px) {
                top: 91%;
                left: 27%;
            }
        }
    }
}