@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
    font-weight: 700;
    font-style: italic;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif !important;
    color: #3f3e43 !important;
  }
