$main-color: #252525;
$main2-color: #f2901d;
$h1-color: #fcaf17;
$white-color: #fff;
$black-color: #000;

body {
    background-color: $main-color;
}

.container {
    max-width: 1230px;
}

.navbar-area {
    .status-bar {
        height: 30px;
    }
    .nav-content {
        height: 90vh;
        .nav-items {
            justify-content: space-between;
            .nav-item {
                display: flex;
                margin: 0 auto;
                align-content: center;
                padding-bottom: 30px;
            }
        }
    }
}

@import "components/partner";
@import "components/history";
@import "components/home/productlist";
